<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css"/>
</head>
<body>
	<header>
		<a href="#"><i class="fa fa-bars"></i></a>
		<span class="current-user-name">David Tanzer (@dtanzer)</span>
		<a href="#" id="write-posting-button"><i class="fa fa-pencil-square-o"></i></a>
	</header>
	<section class="main-section grid">
		<div class="grid-sizer"></div>
		<div th:each="posting : ${postings}" class="grid-item">
			<div th:text="${posting.postingText}">Posting Text</div>
		</div>
	</section>

	<section class="editor" id="posting-editor">
		<div class="editor-frame">
			<form id="new-posting-form" method="post" action="new-posting" th:object="${newPosting}">
				<textarea id="posting-text" th:field="*{postingText}"></textarea>
				<div class="buttons">
					<a href="#" id="cancel-posting-button">Cancel</a>
					<a href="#" class="button" id="send-posting-button">Send</a>
				</div>
			</form>
		</div>
	</section>

	<script type="application/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="application/javascript" src="js/masonry.pkgd.min.js"></script>
	<script type="application/javascript" src="js/followfa.js"></script>
	<script type="application/javascript">
		$( document ).ready(function() {
			initializeGrid();
			initializeWritePostForm();
		});
	</script>
</body>
</html>