<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css"/>
</head>
<body>
	<header>
		<a href="#"><i class="fa fa-bars"></i></a>
		<span class="current-user-name">David Tanzer (@dtanzer)</span>
		<a href="#" id="write-posting-button"><i class="fa fa-pencil-square-o"></i></a>
	</header>
	<section class="main-section grid">
		<div class="grid-sizer"></div>
		<div class="grid-item">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div class="grid-item" style="height: 150px;">2</div>
		<div class="grid-item" style="height: 100px;">3</div>
		<div class="grid-item" style="height: 200px;">4</div>
		<div class="grid-item" style="height: 150px;">5</div>
		<div class="grid-item" style="height: 400px;">6</div>
		<div class="grid-item" style="height: 300px;">7</div>
		<div class="grid-item" style="height: 100px;">8</div>
		<div class="grid-item" style="height: 200px;">9</div>
		<div class="grid-item" style="height: 500px;">10</div>
		<div class="grid-item" style="height: 120px;">11</div>
		<div class="grid-item" style="height: 270px;">12</div>
	</section>

	<section class="editor" id="posting-editor">
		<div class="editor-frame">
			<form id="new-posting-form" method="post" action="new-posting" th:object="${newPosting}">
				<textarea id="posting-text" th:field="*{postingText}"></textarea>
				<div class="buttons">
					<a href="#" id="cancel-posting-button">Cancel</a>
					<a href="#" class="button" id="send-posting-button">Send</a>
				</div>
			</form>
		</div>
	</section>

	<script type="application/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="application/javascript" src="js/masonry.pkgd.min.js"></script>
	<script type="application/javascript" src="js/followfa.js"></script>
	<script type="application/javascript">
		$( document ).ready(function() {
			initializeGrid();
			initializeWritePostForm();
		});
	</script>
</body>
</html>