$standard-color-dark: #111133;
$standard-color-bright: #e6e6ff;
$standard-color-highlight: #4444cc;

$alternate-color1-highlight: #FDA837;
$alternate-color1-bright: #FDEAD0;
$alternate-color1-dark: #985E0F;

$alternate-color2-highlight: #FDEC37;
$alternate-color2-bright: #FDF6A5;
$alternate-color2-very-bright: #FDFAD7;

$disabled-fields-background: #DDDDDD;

$screen-size-large: 960px;
